body, table, input, textarea 
  font-family Arial,Helvetica,sans-serif
  font-size 12px
  color black

a
  text-decoration underline
  &:link, &:visited, &:hover
    text-decoration underline
    color linkBlue
  &:hover
    color lightBlue
    
// ====== Headings ====== */
// .h1-.h6 classes should be used to maintain the semantically appropriate heading levels 
// - NOT for use on non-headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-weight bold
  font-style  normal
  &, a
    color linkBlue

h1, .h1
  font-size 16px
  
h2, .h2
  font-size 14px
  
h3, .h3
  font-size 12px
  
h4, .h4
  font-size 11px
  
h5, .h5
  font-size 10px
  
h6, .h6
  font-size 10px
  &, a
    color linkBlue
  
  
// if additional headings are needed they should be 
// created via additional classes, never via location dependant styling */
.category
  font-size 108%
  font-weight normal
  font-style  normal
  text-transform uppercase
  &, a
    color  #333
  
  
  