.mod
  margin 10px
  border-radius 2px

.mod_1st
  background: white 
.mod_2nd 
  background: #def 
.mod_3rd 
  background: #eef8ff
.mod_att 
  background: #ffc
.mod_tip 
  background: lightGreen
.mod_help 
  background: green

.bd, .ft, .hd 
  overflow:hidden
  *overflow:visible
  zoom:1

.hd 
  background: #def
  border-radius: 2px 2px 0 0

.hd_help,
.hd_em 
  background: #669933
  color: white

.hd_err 
  color: white
  background: red

