@import 'core_utils'

.mod, .mod_1st, .mod_2nd, .mod_3rd
  margin 10px
  border-radius 2px

.mod_inflate
  margin 10px 0
  > .hd
    margin 10px 10px 0px 10px
  
.mod_1st
  background: white 
.mod_2nd 
  background: boxBlue 
.mod_3rd 
  background: #eef8ff
  
.mod_att 
  background: #ffc
.mod_tip 
  background: lightGreen
.mod_help 
  background: green

.bd, .ft, .hd 
  oocss_clearfix()

.hd 
  background: boxBlue
  border-radius: 2px 2px 0 0

.hd_help,
.hd_em 
  background: #669933
  color: white

.hd_err 
  color: white
  background: red

