// Main FINN colors
blue            = #A2D2EE
wrapperBlue     = blue
backgroundBlue  = blue
bgBlue          = blue
darkBlue        = #000066
linkColor       = darkBlue
linkBlue        = darkBlue
lighBlue        = #3366ff
logoBlue        = #0099FF
buttonBlue      = logoBlue
iconBlue        = logoBlue
boxBlue         = #DDEEFF
moduleBlue      = boxBlue
black           = #000000
grey            = #666666
helpText        = grey
visited         = grey
lightGrey       = #EEEEEE
bgGrey          = lightGrey
backgroundGrey  = lightGrey
white           = #FFFFFF 

// Secondary FINN colors
green        = #669933
safetyGreen  = green
messageGreen = green
lightGreen   = #D2E286
infoGreen    = lightGreen
brown        = #492C25
iconBrown    = brown
warmGrey     = #E2E0D6
beige        = warmGrey
red          = #CC0000
alertRed     = red
error        = red
orange       = #FF6600
commColor    = orange
buyItColor   = orange
yellow       = #FFFF99
advert       = yellow

// buttons
buttonTop     = #6CC4FF
buttonRight   = #0068AD
buttonBottom  = #00497A
buttonLeft    = #38AFFF
